body {
    font-family: Lato;
    padding:20px;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size:35px;
    color: #464646;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
}

h2{
    font-family: 'Assistant:200';
    text-align: left;
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-anchor:middle;
    font-size: 18px;
}

.right_quarter {
    display: inline-block;
    width: 25%;
    float:right;
}

.half_view {
    display: inline-block;
    width: 45%;
    position: relative;
    padding-right: 2%;
    padding-top: 3%;
}

.three_quarter_view {
    display: inline-block;
    width: 73%;
    position: relative;
    padding-right: 2%;
}

.full_view {
    display: inline-block;
    width: 100%;
    padding-bottom: 2%
}

.countries {
    fill: #CDCDCD;
    stroke: white;
}

.primary {
    stroke-width: 3;
    fill: #3d3d97;
}

.secondary {
    stroke-width: 3;
    fill: #6868ae;
}


.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .2;
    pointer-events: none;
}
.graticule-outline{
    stroke:white;
    stroke-width: 1.0px;
}

.line{
    stroke: #777;
    stroke-width: 1.5px;
}

.imports {
    fill: purple;
    color: purple;
    text-anchor: start;
}

.exports {
    fill: lightblue;
    color: lightblue;
    text-anchor: start;
}

.highlight {
    fill: #FCFF33;
    color: #FCFF33;
    stroke: #000;
    stroke-width: 1.5px;
    text-anchor: start;
}

.exportCircle {
    r: 5;
    fill: lightblue;
    stroke: lightblue;
    stroke-width: 1.5px;
}

.importCircle {
    r: 5;
    fill: purple;
    stroke: purple;
    stroke-width: 1.5px;
}

.primaryCircle{
     r: 5;
     fill: #6F339B;
     stroke: #6F339B;
     stroke-width: 1.5px;
 }

.secondaryCircle{
    r: 5;
    fill: #C4ACD6;
    stroke: #C4ACD6;
    stroke-width: 1.5px;
}

.exportLine {
    fill: none;
    stroke: lightblue;
    stroke-width: 1.5px;
}

.importLine {
    fill: none;
    stroke: purple;
    stroke-width: 1.5px;
}

.primaryLine {
    fill: none;
    stroke: #6F339B;
    stroke-width: 1.5px;
}

.secondaryLine {
    fill: none;
    stroke: #C4ACD6;
    stroke-width: 1.5px;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 15px;
}

.connecting_line {
    fill: none;
    stroke: #000;
    stroke-width: 2.0px;
    shape-rendering: crispEdges;
}

.topTraderText{
    text-anchor: start;
    font-size: 16px;
    fill: black;
    stroke-width: 0.5px;
}


/*----Old styling from previous projects------------------*/
/*----Everything above this line is being used in our project*/


.info{
    margin-left: 20px;
}
.tile {
    stroke: #FFF;
    stroke-width: 4;
}

.yeartext, .tilestext, .brushtext{
    text-anchor: middle;
    font-size: 16px;
    fill: #565656;
    stroke-width: 0.1px;
}


.electoralVotesNote, .votesPercentageNote{
    text-anchor: middle;
    font-size: 18px;
}

.electoralVoteText, .votesPercentageText{
    font-size: 18px;
    text-anchor: middle;
    /* position: absolute; */
}
.end{
    text-anchor:end;
}

.nomineeInfoText{
    font-size: 22px;
    text-anchor: start;
    position: absolute;
}
.Axis{
    stroke: #eee;
    stroke-width: 4;
}


.electoralVotes{
    stroke: #eee;
}

.middlePoint{
    stroke: #eee;
}


.yearChart{
    stroke: #FFF;
}

.lineChart{
    stroke:#000;
    /*stroke-dasharray: 4;*/
}
.republican{
    fill: #de2d26;
    color: #de2d26;
    text-anchor:start;
}
.democrat{
    fill: #3182bd;
    color: #3182bd;
    text-anchor:start;
}
.independent{
    fill: #45AD6A;
    color: #45AD6A;
    text-anchor:start;
}

.votesPercentage{
    stroke: #eee;
}

.highlighted{
    stroke: #404040;;
    stroke-width:4;
}

.brush .selection {
    fill-opacity: .5;
}

.selected{
    stroke: #404040;;
    stroke-width:4;
    r:20px;
}


.d3-tip {
    line-height: 2;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 300px;
    border-style: groove;
    padding: 12px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.tooltip-title{
    font-size:18px;
    font-family: "Arial Black";
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 2;
    color: rgba(0, 0, 0, 0.8);
    /* content: "\25BC"; */
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    /* content: "\25BC"; */
    margin: -4px 0 0 0;
    top: 100%;
    left: 0;
    /* text-align: center; */
}

/* Eastward tooltips */
.d3-tip.e:after { 
    /* content: "\26A0"; */
    margin: -4px 0 0 0;
    top: -800px;
    left: -8px;
} 

/* Southward tooltips */
.d3-tip.s:after {
    /* content: "\25B2"; */
    margin: 4px 0 1px 0;
    top: -8px;
    left: 1481px;
    text-align: center;
} 

/* Westward tooltips */
.d3-tip.w:after {
    /* content: "\25B6"; */
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
} 


.axis { 
    font: 14px sans-serif; 
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 35%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

